{% extends 'index.html' %}{% load static %}{% block content %}


                <div class="container-xxl py-5 mt-4">
                    <div class="container mt-4">
                        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-6 mb-3">Who We Are</h1>
        </div>
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                                    <img class="img-fluid w-100" src="{%static 'img/about_1.jpg' %}">
                                </div>
                            </div>
                            <div class="col-lg-6 wow fadeIn" style="text-align: justify;" data-wow-delay="0.5s">
                                <h1 class="h3 mb-4" style="text-align: left !important;">Direct Selling Employess Society</h1>
                                <p class="">Director Selling Employees Society is registered under Travancore 
                                    Cochin Literary, Scientific and charitable societies act 12/1955 Reg. No: 
                                    <b>KLM/TC/87/2024</b></p><p>
                                     This organization is formed by a group of democrats who have 
                                    experience and Personal relationship in the field of direct selling in Kerala and 
                                    other states of India.</p><p>
                                     Its governance is to conduct the Social Welfare Activities of the Society 
                                    on behalf of the members by democratically electing at least seven members of 
                                    the governing body every five years. </p><p>
                                     A pannel was constituted from among the mebr mbers of the society and this 
                                    panel selected the officers of the governing body for the next five years and this 
                                    was unanimously approved by the general body. 
                                    
                                </p>
                                <!-- <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet
                                </p>
                                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->


                <!-- Feature Start -->
                <div class="container-xxl bg-light bg-icon my-5 py-6">
                    <div class="container">
                        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 500px;">
                            <h1 class="display-5 mb-3">Our Aim and Vision</h1>
                            <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero
                                dolor duo.</p> -->
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="bg-white h-100 p-4 p-xl-5" style="text-align: justify !important;">
                                    <img class="img-fluid mb-4" src="{%static 'img/icon-1.png' %}" alt="">
                                    <h4 class="mb-3" >AIM</h4>
                                    <p class="mb-4">The Society works for the social, cultural, educational and economic 
                                    uplift of the members and their family members who have been working 
                                    unorganized for years in the field of direct selling. </p><p>
                                     The Society also aims to help members who are interested in becoming 
                                    self- entrepreneurs in the field of direct selling and agriculture. </p>
                                    <!-- <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read
                                        More</a> -->
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="bg-white  h-100 p-4 p-xl-5" style="text-align: justify !important;">
                                    <img class="img-fluid mb-4" src="{%static 'img/icon-2.png' %}" alt="">
                                    <h4 class="mb-3">VISION</h4>
                                    <p class="mb-4">The main vision of the society is to protect and help the unorganized, 
                                        destitute and socially isolated individuals and their family memebrs in the field 
                                        of direct selling and agriculture. 
                                    </p><p>
                                        The Society Directly and inclusively engages the members to intitiate 
                                        various initiative under the Department of Women Impowerment for the 
                                        educational, cultural and economic growth of women who are family members 
                                        of the society. </p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="bg-white text-center h-100 p-4 p-xl-5" style="text-align: justify !important;">
                                    <img class="img-fluid mb-4" src="{%static 'img/icon-3.png' %}" alt="">
                                    <h4 class="mb-3">MISSON</h4>
                                    <p class="mb-4">The Society is working tirelessly to achieve the goal of eradicating 
                                        poverty in our country by 2030.</p>
                                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
            
                {% endblock %}