{% extends 'index.html' %}
{% block content%}
<!-- Contact Start -->

<div class="container-xxl py-6 mt-5 mb-5">
    <div class="container mt-4"
        style="max-width: 720px;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;padding: 20px; border-radius: 30px;">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="h3 mb-3">Password Changed..</h1>
            <p><a class="nav-link" href="{%url 'SignIn'%}">Goto SignIn</a></p>
        </div>
    </div>
</div>


            {% endblock %}