{% extends 'index.html'%}{% load static %}{% block content %}
<style>
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
</style>
<div class="container-fluid py-5 ">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header text-start  wow fadeInUp" data-wow-delay="0.1s"
                            style="max-width: 500px;">
                            <h3 class="h3 mb-3">Place Order</h3>
                            {% for message in messages %}

                            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                                <strong>Alert!</strong> {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row g-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="bg-white h-100 p-4 p-xl-5 card">
                                    <h6>Delivery Adress</h6>
                                    <hr>
                                    <br><br>

                                    <table class="table">
                                        <tr>
                                            <td>Name</td>
                                            <th>{{D_address.first_name}}</th>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <th>{{D_address.house_house}} <br>
                                                {{D_address.Place}} <br>
                                                {{D_address.City}} <br>
                                                {{D_address.district}} <br>
                                                {{D_address.state}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <th>{{D_address.phone_number}}</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="bg-white text-center h-100 p-4 p-xl-5 card">
                                    <h6>Order Detils</h6>
                                    <hr>

                                    <br><br>
                                    <h6 class="text-muted">Order #{{order.order_numer}}</h6>

                                    <p>Total Bv: <span class="text-primary "
                                            style="font-size: larger;font-weight: 700;">{{order.order_bv}}</span></p>
                                    <p>Order Items: <span
                                            style="font-size: larger;color: brown;font-weight: 700;">{{total_items}}</span>
                                    </p>
                                    <p>Total Amount: <span
                                            style="font-size: larger;color: brown;font-weight: 700;">{{order.order_amount}}
                                            <small>(TAX: {{order.order_tax}})</small></span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="bg-white text-center h-100 p-4 p-xl-5 card">
                                    <h6>Payment Method</h6>
                                    <hr>
                                    <br><br>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed text-center display-6"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                    Cash On Delivery
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <br>
                                                    <a 
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-lg btn-outline-primary">Make Order Placed</a>

                                                        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span class="display-6 text-primary">Almost There !! </span>
            <br>
            <span class="text-muted">Click to Place Order</span><br><br>
            <a href="{%url 'MakeCashOnDelivery' order.id %}" class="btn btn-lg btn-primary">Place Order</a>
        </div>
        
      </div>
    </div>
  </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">

                                                    <button class="accordion-button collapsed text-center display-6"
                                                        type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                                        aria-controls="flush-collapseTwo">
                                                        Phone Pe
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordionFlushExample">
                                                    <br>
                                                    <button class="btn btn-lg btn-warning">Proceed To Pay</button><br>
                                                    <span class="text-muted">* This feature is not available now coming
                                                        soon with more....</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}