{% extends 'index.html' %}
{% block content %}
<style>
    .itemcontainer {
        width: 95%;
        margin: auto;
        padding: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }
    h1 {
            text-align: center;
        }
        p {
            margin: 10px 0;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 10px;
        }
       
</style>

<div class="container text-left mt-5 mb-5">
    <div class="itemcontainer">
        <h3 class="text-center">PRIVACY POLICY</h3>
        <br>


        <p>This E-Commerce website Privacy Policy describes how Adcos E-Commerce Company uses personal data received
            from customers or visitors of our Website ADCOS.IN. It also describes what type of personal data we collect
            or receive and how we process, use, share, and protect these data. It also explains how long we retain these
            data, your rights with respect to the processing of your personal data, and how you can contact us about our
            privacy practices.</p>

        <h2>How We Collect Personal Data</h2>
        <p>Adcos collects personal data from you through your use of the website in various ways. We collect data
            through social media marketing, our webpage (adcos.in), customer care contacts, and online forms.</p>
        <p>If you are registering as a customer directly with Adcos, we collect the following personal data from you:
        </p>

        <h3>1. Contact Information</h3>
        <ul>
            <li>Name</li>
            <li>Address</li>
            <li>Nominee</li>
            <li>Email</li>
            <li>PAN Number</li>
            <li>Date of Birth</li>
        </ul>

        <h3>2. Log-in Information</h3>
        <ul>
            <li>Customer ID Number</li>
            <li>Password</li>
        </ul>

        <h3>3. Payment Information</h3>
        <ul>
            <li>Bank Name and Branch</li>
            <li>Account Number</li>
            <li>IFSC Code</li>
        </ul>

        <p>If we need to process additional types of data from you, we will make sure that you are informed about the
            processing and that there is a valid legal basis for doing so.</p>

        <h2>How ADCOS Distributes Personal Data</h2>
        <p>We assure the security and protection of personal data against unlawful destruction or access.</p>

        <h2>How to Contact Us</h2>
        <div class="contact1">
            <p>Customer Care Number: 8078381109</p>
            <p>WhatsApp Number: 8078391109</p>
            <p>Email: <a href="mailto:adcos2024customercare@gmail.com">adcos2024customercare@gmail.com</a></p>
            <p>Address: Adcos Ventures, First Floor, Alexander Building, Pathanapuram, Kollam-689695, Kerala, South
                India</p>
        </div>
    </div>
</div>

    {% endblock %}